#!/bin/bash
export AWS_PROFILE=
export AWS_REGION=ap-northeast-1
export AWS_DEFAULT_REGION=$AWS_REGION
export AWS_DEFAULT_OUTPUT=json
export AWS_PAGER=""

export TERRAGRUNT_TFPATH=~/.tfenv/bin/terraform

export NAMESPACE=slopwell-sandbox
